body
  background: #fafafa
  color: #333

  font-family: sans-serif

.map
  background-image url('../images/stars-bg.png')
  display inline-block

.col
  width 50px
  display inline-block

.tile, .frontTile
  background-size 100%
  height 50px
  overflow hidden
  width 50px

.tile
  position relative

.frontTile
  position absolute
  top 0

.toolbox
  padding 20px

  .item
    border 1px solid
    cursor pointer
    float left
    font-size 10px
    line-height 50px
    margin 5px
    width: 50px;
    height: 50px;

.under-constuction
  opacity 0.5