doctype html
html(ng-app="starFortress")
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
    title src

    //Place favicon.ico and apple-touch-icon.png in the root directory

    //build:css styles/vendor.css
    //bower:css
    //endbower
    //endbuild

    //build:css styles/main.css
    //link(rel='stylesheet', href='styles/main.css')
    //endbuild
  body(
    ng-controller="mainCtrl as vm"
    ng-keyup="vm.keyUpHandler($event)")
    .map#map
      //- tile(ng-repeat="tile in vm.map._tiles") {{tile}}
      //- .col(ng-repeat="x in vm.range(vm.width)")
      //-   .tile(
      //-     ng-repeat="y in vm.range(vm.height)"
      //-     ng-style="{'background-image': 'url(' + vm.map.get(x + vm.offsetLeft, y + vm.offsetTop, 0).texture + ')'}"
      //-     ng-click="vm.clickHandler($event, x + vm.offsetLeft, y + vm.offsetTop)"
      //-     ng-class="{'under-constuction': vm.map.get(x + vm.offsetLeft, y + vm.offsetTop, 0).building}")
      //-     //- .tile.frontTile(
      //-     //-   ng-style="{'background-image': 'url(' + vm.map.get(x + vm.offsetLeft, y + vm.offsetTop, 1).texture + ')'}"
      //-     //-   ng-class="{'under-constuction': vm.map.get(x + vm.offsetLeft, y + vm.offsetTop, 1).building}")
      //-     .tile.frontTile(
      //-       ng-repeat="tile in vm.map.getAll(x + vm.offsetLeft, y + vm.offsetTop, 1)"
      //-       ng-style="{'background-image': 'url(' + tile.texture + ')'}"
      //-       ng-class="{'under-constuction': tile.building}")
    .toolbox#toolbox
      //- .item.tile(
      //-   ng-repeat="item in vm.toolBoxItems"
      //-   ng-style="{'background-image': 'url(' + item.context._texture + ')'}"
      //-   ng-click="vm.toolboxItemClick(item)"
      //-   title="{{item.context.text}}")
      //-   | {{item.context.text}}

    .btns
      input(type="button" ng-click="vm.step()" value="Step")

    //Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

    //build:js scripts/vendor.js
    //bower:js
    //script(src='/bower_components/underscore/underscore.js')
    //script(src='/bower_components/angular/angular.js')
    //script(src='/bower_components/rxjs/dist/rx.all.js')
    //script(src='/bower_components/pathfinding/pathfinding-browser.min.js')
    //script(src='/bower_components/requirejs/require.js')
    //endbower
    //endbuild

    //build:js scripts/main.js
    //script(src='scripts/main.js')
    //endbuild
